.blog-parent{
    margin: 0;
    padding: 5%;
    background: #D9D9D9;
}

.blog-parent .blog{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.blog-parent .blog .left{
    width: 65%;
}

.blog-parent .blog-card{
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    margin: 15px 0px;
}

.blog-parent .left .blog-card .down{
    background: #fff;
    padding: 5px 45px;

}

.blog-parent .blog .right{
    width: 32%;
}

.blog-parent .blog .left .top img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.interractions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
    border-top: 2px solid #22687E;
}

.interractions .interflex button{
    width: 100%;
    background: #478193;
    border: 1px solid #22687E;
    border-radius: 4px;
    height: 28px;
    padding: 7px 20px;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

.interractions .interflex button:hover{
    background: #22687E;
}

.interractions .interflex h4{
    font-weight: 200;
    font-size: 17px;
}



.blog-parent .blog .right .blog-card form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.blog-parent .blog .right .blog-card form .blog-input{
    width: 60%;
}

.blog-parent .blog .right .blog-card form .blog-input input{
    background: #FFFFFF;
    border: 2px solid #DCE0E0;
    border-radius: 4px;
    height: 32px;
    width: 100%;
    /* padding: 0px 0px 0px 20px; */
    color: #A1A7A8;
    font-weight: 500;
    font-size: 16px;
    margin: 0px !important;
}

::placeholder{
    padding: 7px 20px;
}

.blog-parent .blog .right .blog-card form .blog-btn{
    width: 35%;
}

.blog-parent .blog .right .blog-card form .blog-btn button{
    width: 100% !important;
    background: #478193;
    border: 1px solid #22687E !important;
    border-radius: 4px;
    height: 38px;
    padding: 7px 20px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin: 0px !important;
    cursor: pointer;
}

.blog-parent .blog .right .blog-card form .blog-btn button:hover{
    background: #22687E;
}

.blog-parent .blog .right .blog-card .topics{
    padding: 0px 10px;
}

.blog-parent .blog .right .blog-card .topics h5{
    font-weight: 300;
    font-size: 17px;
    color: #478193;
    margin: 3px 0px;
    cursor: pointer;
}

.blog-parent .blog .right .blog-card .topics h5:hover{
    color: #206175;
}

.blog-parent .blog .right .blog-card .topics h5 .topic-span{
    color: rgb(13, 11, 11);
}