.contactus-parent{
    margin: 0;
    padding: 5%;
    background: #D9D9D9;
}

.contactus-parent .contactus{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactus-parent .contactus .left{
    width: 58%;
}

.contactus-parent .contactus .right{
    width: 35%;
}

.contactus .contactus-card{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 15px 0px;
}

.contactus-parent .contactus .left form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactus .left .contact-input{
    width: 100%;
}

.contactus .left .input-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contactus .left .input-top .top-left{
    width: 48%;
}

.contactus .left form{
    width: 100%;
}
.contactus .left input{
    background: #FFFFFF;
    border: 2px solid #22687E;
    border-radius: 4px;
    height: 50px;
    width: 100% !important;
    padding: 0px 0px !important;
    color: #A1A7A8;
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0px !important;
}

.contactus .contact-input{
    margin: 10px 0px;
}

.contactus textarea{
    background: #FFFFFF;
    border: 2px solid #DCE0E0;
    border-radius: 4px;
    height: 80px;
    width: 100% !important;
    padding: 9px 0px;
    color: #A1A7A8;
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0px;
}

.contactus .left .btn{
    display: flex;
    justify-content: center;
}

.contactus .right h4{
    font-weight: 800;
    font-size: 23.3026px;
    margin-top: 0;
    margin-bottom: 4px;
}

.contactus .right .address h4{
    font-weight: 600;
    font-size: 16.3px;
    margin-bottom: 3px !important;
}

.contactus .right .address p{
    font-weight: 300;
    font-size: 15.1576px;
}